/* app css stylesheet */

body {
  background-color: #FFFFFF;
}
#cardDesc{
  height:auto;
  width:200px;
}
#comment{
  height:50px;
  width:300px;
}
#commentnew{
  height:50px;
  width:300px;
}
.delete{
  margin-left:240px;
}
.deleteList{
  margin-left:280px;
}
#mycard{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
  padding-bottom:10px;
}
.delCard{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delCard1_1{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delCard1_2{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delCard2_0{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delCard2_1{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delCard3_0{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}
.delcard4_0{
  border:1px groove;
  border-color:grey;
  width:420px;
  background-color:#FFF8E1;
  padding-left:20px;
  padding-top:5px;
  margin-top:10px;
}


#List{
  border:1px solid;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:10px;
  width:500px;
  background-image:linear-gradient(to bottom right,#66BB6A,#4DD0E1);
  margin-bottom:20px;
  float:left;

}
#board{
  padding-top:30px;
  padding-left:20px;
  border: 1px solid black;
  outline-style: solid;
  outline-color: grey;
  outline-width:50px;
  width:2500px;
  height:2500px;

}
#List2{
  border:1px solid;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:10px;
  width:500px;
  background-image:linear-gradient(to bottom right,#66BB6A,#4DD0E1);
  margin-bottom:20px;
  margin-left:10px;
  float:left;

}

#List3{
  border:1px solid;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:10px;
  width:500px;
  background-image:linear-gradient(to bottom right,#66BB6A,#4DD0E1);
  margin-bottom:20px;
  margin-left:10px;
  float:left;

}
#List4{
  border:1px solid;
  padding-left:20px;
  padding-top:5px;
  width:500px;
  background-image:linear-gradient(to bottom right,#66BB6A,#4DD0E1);
  margin-bottom:20px;
  margin-left:10px;
  float:left;
}
.newCards{
  margin-left:-40px
}
ul{
  list-style:none;
}
.Addcard{
  background-color:#008000;
  font-size:18px;
  border-radius:8px;
  color:white;
  padding:5px 10px;
  cursor:pointer;
  transition-duration: 0.4s;
}
.Addcard:hover{
  background-color:#00FFFF;

}
.delete{
  color:#FF0000;
  border-radius:8px;
  font-size:14px;
  cursor:pointer;
}
.delete:hover{
  background-color:#FF0000;
  color:white;
  transition-duration: 0.9s;
}
.deleteList{
  background-color:#FF6347;
  color:white;
  border-radius:5px;
  cursor:pointer;
}
.deleteList:hover{
  background-color:#FBE9E7;
  color:#FF0000;
}
.Add{
  background-color:#4FC3F7;
  color:white;
  border-radius:5px;
  cursor:pointer;
}
